<button mat-raised-button (click)="openModal()" color="primary" class="mb-3">
  <i class="fa fa-plus"></i> Novo</button>
<div class="table-container">
  <mat-table #table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear style="width: 100%;">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name">
        name
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header="status">
        status
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status.name}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="taskDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="taskDate">
        taskDate
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taskDate | date: 'dd/MMM/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="btn" mat-button (click)="openModal(element)" matTooltip="Editar">mode_edit</mat-icon>
        <mat-icon class="btn" mat-button (click)="delete(element)" matTooltip="Excluir">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>