<block-ui>
  <app-nav-bar></app-nav-bar>

  <div class="container pt-md-5 mb-5">
    <router-outlet></router-outlet>
  </div>


  <!-- <footer class="footer-body border-top">
    <div class="container">
      <p class="float-right">
        <a>#toDoListX!</a>
      </p>
      <p>vrds©2018</p>
      <p>
        <a href="https://github.com/vinitecnico/frontTestChallenge.git">github</a> ou
        <a href="https://www.linkedin.com/in/vrodriguessantos/">linkedin</a>.</p>
    </div>
  </footer> -->
</block-ui>
